body {
    background : rgb(184, 128, 137);
    margin: 0;
    }

    #tilesContainer {
        margin: 50px auto;
        width: max-content;
        display: grid;
        grid-template-columns: repeat(5, 100px);
        gap: 20px;
        box-sizing: border-box;
    }

    .tile {
        height: 100px;
        width: 100px;
        background: gray;
        border: 6px solid rgb(228, 43, 74);
        cursor: pointer;
        background-size: cover;
    }